services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_DEFAULT_REGION=ap-southeast-1
      - EXTRA_CORS_ALLOWED_ORIGINS=http://localhost:3000
      - EXTRA_CORS_ALLOWED_HEADERS=*
      - EXTRA_CORS_EXPOSE_HEADERS=ETag
    volumes:
      - "./localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: realworld_example
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d

volumes:
  postgres-data:
